:root{
    --main-color: #25c8a2;
    --main-color-lightened: #36d9b3;
    --main-dark: #218c74;
    --accent: #ffb142;
    --white: #f5f4f3;
    --gray: #8a9096;
    --light-gray: #dfdede;
    --list-gray: #e8ecef;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    background-color: inherit;
}

body{
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: var(--main-dark);
}

header{
    background-color: var(--main-color);
    color: white;
    font-size: 1.75rem;
    padding: 0.8em;
    text-align: center;
    font-weight: 700;
}

button{
    border: transparent solid;
    cursor: pointer;
    transition: transform 200ms;
    border-radius: 0.4em;
}

button:hover{
    background-color: var(--light-gray);
}

.listContainer{
    margin: 2em;
    display: flex;
    gap: 2em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list{
    padding: 1em;
    border-radius: 0.4em;
    background-color: var(--list-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
    max-width: 25ch;
    
}

.cardList{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.listHeader{
    display: flex;
    justify-content: space-between;
}

.nameInput, .cardTitle{
    border: 2px solid transparent;
    font-weight: 700;
    padding: 0.3em;
    margin-bottom: 0;
    width: 80%;
}

.cardTitle{
    font-weight: 500;
    font-size: 0.9rem;
}

.cardNameInput{
    font-size: 0.9rem;
    padding: 0.2em;
    font-weight: 500;
}

.nameInput:focus{
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 0.2em;
}

.card{
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    background-color: var(--white);
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.075);
    cursor: pointer;
    font-weight: 500;
    transition: transform 200ms;
}

.card:hover{
    transform: translateY(-5%);
}

.card .iconButton{
    visibility: hidden;
}

.card:hover .iconButton{
    visibility: visible;
}

.iconButton{
    padding-inline: 0.4em;
    color: var(--gray);
}

.cardModal{
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid red;
    display: none;
}

.cardModal.visible{
    display: block;
}

#addListButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    color: var(--light-gray);
    font-size: 1.3rem;
}

#addListButton i{
    font-size: 2rem;
}

#addListButton:hover{
    transform: translateX(2.5%);
    background-color: transparent;
    color: var(--white);
}

#addCard{
    text-align: left;
    padding: 0.5em;
    color: var(--gray);
    font-weight: 300;
    border-radius: 0.4em;
}

#addCard i{
    padding-inline: 0.3em;
}