*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

.listContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-start;
}